/CalculaIR.class
/Fatorial.class
/MultiplosDeTresAteCem.class
/Programa.class
/TeataValores.class
/TestaCaracteres.class
/TestaCondicional.class
/TestaCondicional2.class
/TestaConversao.class
/TestaEscopo.class
/TestaFor.class
/TestaLacos.class
/TestaLacos2.class
/TestaPontoFlutuante.class
/TestaVariaveis.class
/TestaWhile.class
/TesteSomatoria.class
